.container{
    display: flex;
    align-content: center;
    justify-content: center;
}
.datos{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 300px;
    height: 500px;
    background: #d9e6f5;
}
#info{
    display: flex;
    flex-direction: column;

}
h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#textoJS{
    width: 200px;
    height: 120px;
}
.btn{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}
button{
    background: #cbd1d6;
    font-size: 15px;


}

